
/* HELPER CSS VALUES */

.br-8 {
    border-radius: 8px;
}

.clickable {
    cursor: pointer;
}

.no-border-outline:focus {
    outline: none 0 !important;
    border-color: dimgrey;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* LOGIN AND SIGNUP ANIMATION */

.loginAndSignupZoomIn {
    -webkit-animation-name: loginAndSignupZoomIn;
    animation-name: loginAndSignupZoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes loginAndSignupZoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes loginAndSignupZoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

/* DROP DOWNS BACKGROUND COLOR */

.navbar-nav > li > .dropdown-menu { background-color: #FF0000; }

/* ADD TASK BUTTON */

.feedBackButton {
    position: fixed;
    bottom: -4px;
    right: 10px;
    margin-bottom: 1em;
}

/* ANIMATION FOR ADDING TASKS AND THE SEARCH FUNCTIONALITIES */

.elem-zoom-out {
    transition: transform .2s;
}

.elem-zoom-out:hover {
    transform: scale(1.1);
}

.elem-zoom-in {
    transition: transform .2s;
}

.elem-zoom-in:hover {
    transform: scale(0.95);
}
